Backup/
bin/
obj/
pub/
7zip*/
temp/
shadowsocks-csharp/shadowsocks-csharp.csproj.user
TestResults
*.suo
*.user
*.exe

/templates
/.vs/shadowsocks-csharp/v16/TestStore/0
/.vs/shadowsocks-csharp/v16/lut
